---
// src/layouts/BaseLayout.astro
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="font-sans max-w-3xl mx-auto p-6 text-gray-800">
    <header class="mb-10 border-b pb-4">
      <h1 class="text-3xl font-bold">{title}</h1>
    </header>
    <main class="prose prose-lg prose-zinc mx-auto px-20">
      <slot />
    </main>
  </body>
</html>

